html,
body {
  margin: 0;
  padding: 0;
}
header {
  background: url(img/intro.jpg) no-repeat;
  background-size: cover;
  height: 700px;
}
header hgroup {
  text-align: center;
  color: #FFF;
  width: 800px;
  margin: 0 auto;
}
header hgroup h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
  font-size: 100px;
  letter-spacing: -5px;
  margin-top: 0;
  padding-top: 35px;
}
header hgroup h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 10px;
}
header hgroup p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 22px;
  line-height: 30px;
  padding-top: 35px;
}
