@font-face {
  font-family: 'icons';
  src: url('fonts/icons.eot?-1d2om3');
  src: url('fonts/icons.eot?#iefix-1d2om3') format('embedded-opentype'), url('fonts/icons.woff?-1d2om3') format('woff'), url('fonts/icons.ttf?-1d2om3') format('truetype'), url('fonts/icons.svg?-1d2om3#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-pen:before {
  content: "\e600";
}
.icon-location:before {
  content: "\e601";
}
.icon-cup:before {
  content: "\e602";
}
.icon-paperplane:before {
  content: "\e603";
}
.icon-data:before {
  content: "\e604";
}
.icon-megaphone:before {
  content: "\e605";
}
.icon-calendar:before {
  content: "\e606";
}
html,
body {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}
h2,
p {
  font-family: 'Source Sans Pro', sans-serif;
}
header {
  background: url(img/intro.jpg) no-repeat;
  background-size: cover;
  height: 600px;
}
header hgroup {
  text-align: center;
  color: #FFF;
  width: 800px;
  margin: 0 auto;
}
header hgroup h1 {
  font-size: 100px;
  letter-spacing: -5px;
  margin-top: 0;
  padding-top: 35px;
}
header hgroup h2 {
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-top: 10px;
}
header hgroup p {
  font-size: 22px;
  line-height: 30px;
  padding-top: 35px;
}
header hgroup .btn {
  margin-top: 35px;
}
section {
  padding: 50px 0;
}
section .container {
  width: 900px;
  margin: 0 auto;
}
section .container .left {
  float: left;
  width: 50%;
  padding-right: 10px;
}
section .container .right {
  float: left;
  width: 50%;
  padding-left: 10px;
}
.next-meetup img {
  display: block;
  margin: 10px auto;
}
.next-meetup time,
.next-meetup address {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  display: block;
}
.next-meetup time {
  font-size: 32px;
}
.next-meetup address {
  font-size: 24px;
  font-weight: 700;
}
.call-for-ideas {
  background: url(img/call-for-ideas.jpg) no-repeat center center;
  background-size: cover;
  height: 550px;
  color: #FFF;
}
.call-for-ideas h1 {
  text-align: center;
  font-size: 65px;
}
